<h1>Characters Found</h1>
<h2>Searched term: <span class="color-primary">{{searchTerm}}</span></h2>

<main>

    {{#if characters.length}}
        <ul>
            {{#each characters}}
                <li class="character-list">
                    <a class="link" href="/characters/{{id}}">{{name}}</a>
                </li>
            {{/each}}
        </ul>
    {{/if}}

    {{#unless characters.length}}
        <p class="not-found">We're sorry, but no results were found for
            {{searchTerm}}.</p>
    {{/unless}}

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}

    <span>&#8592;</span><a href="/" class="link-primary">
        Make another search</a>

</main>